.overlay{
	padding: 50px;
	color: #FFF;
	text-shadow: 1px 1px 1px #333;
  background-color: #f5df2e;
  background-image: linear-gradient(315deg, #f5df2e 0%, #f07654 74%);
}

.name {
	font-family: 'google', cursive;
	font-size: 80px;
	margin-bottom: 30px;
}

.description {
	font-family: 'google';
	margin-bottom: 30px;
}
