<div class="p-6">
  <p>[<i> CERTIFICATIONS : </i>]</p>
  @if (certificates.length) {
    <ul class="mt-4 space-y-2">
      @for (file of certificates; track file.name) {
        <li class="flex items-center justify-between py-2 border-b border-[var(--pri-color)]">
          <span>{{ file.name }}</span>
          <a [href]="file?.download_url" download class="hover:text-[var(--third-color)] transition-colors">
            <i class="fa fa-download"></i>
          </a>
        </li>
      }
    </ul>
  }
</div>
