<div class="skills">
  <!-- TODO translations -->
  <!-- TODO File names Better -->
  [<i> CERTIFICATIONS : </i>]
  <div class="row" >
    <ul *ngIf="certificates.length">
      <li *ngFor="let file of certificates">
        {{file.name}}
        <a [href]="file?.download_url" download><i class="fa fa-download"></i></a>
        <!-- <pdf-viewer
        [src]="file?.downloadUrl"
        [render-text]="true"
        [page]="1"
        [original-size]="false"
        style="width: 200px; height: 200px"
        ></pdf-viewer> -->
      </li>
    </ul>
  </div>
</div>
