<div class="p-6">
  <p>[<i> IDEAS : </i>]</p>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 mt-4 mb-4">
    @for (proj of projects; track proj.name) {
      <div class="border-[1rem] border-[var(--pri-color)] flex flex-col">
        <div class="relative h-[27rem] p-4 overflow-hidden">
          <!-- Corner fold -->
          <div class="absolute top-0 left-0 w-0 h-0"
               style="border-top: 80px solid var(--pri-color); border-right: 80px solid transparent;"></div>
          <h4 class="font-bold text-lg mt-4">{{ proj.name }}</h4>
          <div class="flex flex-wrap gap-1 my-2">
            @for (langs of proj.languages_array; track langs) {
              <i class="devicon-{{formatIcon(langs)}} text-xl"></i>
            }
          </div>
          <hr class="border-dotted border-t-[3px] border-[var(--pri-color)] my-2" />
          <p class="text-sm">{{ proj.description }}</p>
        </div>
        <div class="flex justify-end p-3 mt-auto">
          <a [href]="proj.svn_url"
             class="px-4 py-2 bg-[var(--pri-color)] text-[var(--sec-color)] hover:opacity-80 transition-opacity text-sm">
            Get a Look
          </a>
        </div>
      </div>
    }
  </div>
</div>
