@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

/* Fonts */
@font-face {
  font-family: "google";
  src: local("google"), url(./assets/font/Google_September.ttf) format("truetype");
}

:root {
  --pri-color: #2A2A63;
  --sec-color: #D9D9D9;
  --third-color: #BC8E30;
}

body, html {
  background-color: var(--sec-color);
  color: var(--pri-color);
  font-family: 'google';
  overflow-x: hidden;
}
